* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Oswald", sans-serif;
}

html,
body {
  height: 100%;
}

.container {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
}

.clear {
  clear: both;
}

header {
  padding: 20px 2% 35px 2%;
  height: 130px;
}

header div.logo {
  float: left;
}

header nav.desktop {
  float: right;
  position: relative;
  top: 40px;
}

nav.mobile {
  margin-top: 40px;
  float: right;
  width: 32px;
  height: 32px;
  background-size: 100% 100%;
  cursor: pointer;
  background-image: url("../imagens/icon_menu.png");
  display: none;
}

nav.mobile ul {
  display: none;
  width: 100%;
  left: 0;
  top: 95px;
  border-bottom: 4px solid #eb2d2d;
  z-index: 999;
  position: absolute;
  text-align: center;
  background-color: white;
}

nav.mobile li {
  font-size: 23px;
  padding: 20px 0px;
  font-style: italic;
}

nav.mobile li a {
  color: black;
  text-decoration: none;
}

header nav.desktop ul {
  list-style-type: none;
}

header nav.desktop ul li {
  float: left;
  font-size: 23px;
  padding: 0 30px;
  font-style: italic;
}

header nav.desktop a {
  color: black;
  text-decoration: none;
}

/* BANNER */

section.banner {
  overflow: hidden;
  width: 100%;
  height: 650px;
  background-color: black;
  background-image: url("../imagens/bg.jpg");
  background-size: contain;
  background-position: right bottom;
  background-repeat: no-repeat;
}

.text-banner {
  padding: 70px;
}

.text-banner-single {
  width: 314px;
  font-style: italic;
  margin-top: 30px;
  height: 70px;
  line-height: 70px;
  padding-left: 50px;
  text-transform: uppercase;
  color: white;
  font-size: 23px;
  background-image: url("../imagens/box-text.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.text-banner .text-banner-single:nth-of-type(2) {
  width: 200px;
  height: 70px;
  line-height: 70px;
  position: relative;
  left: -10px;
}

.text-banner .text-banner-single:nth-of-type(3) {
  width: 170px;
  height: 70px;
  line-height: 70px;
  position: relative;
  left: -20px;
}

.text-banner .text-banner-single:nth-of-type(4) {
  width: 320px;
  font-size: 21px;
  color: black;
  position: relative;
  left: -30px;
  line-height: 70px;
  background-image: url("../imagens/box-white-text.png");
}

/* VEICULOS */

section.veiculos-destaque {
  padding: 90px 2%;
}

section.veiculos-destaque .container {
  max-width: 1000px;
  padding: 40px 0;
}

.line-titulo {
  max-width: 1400px;
  margin: 0 auto;
  position: relative;
  text-align: center;
}

.ln1 {
  position: absolute;
  top: 20px;
  width: 100%;
  height: 2px;
  background: black;
}

.line-titulo h2 {
  position: relative;
  background: white;
  display: inline-block;
  text-align: center;
  font-size: 27px;
  font-style: italic;
  text-transform: uppercase;
  padding: 0 20px;
}

.vitrine-destaque {
  float: left;
  width: 33.3%;
}

.vitrine-destaque .caro-img {
  width: 100%;
  padding-top: 100%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  border: 8px solid white;
}

.vitrine-destaque h2 {
  padding-left: 8px;
  color: black;
  font-style: italic;
  font-size: 20px;
}

.vitrine-destaque p {
  padding-top: 8px;
  padding-left: 8px;
  color: #353535;
  font-size: 15px;
  font-style: italic;
}

.btn1 {
  text-align: center;
  font-size: 16px;
  font-style: italic;
  border-bottom: 5px solid #b21e1e;
  display: block;
  color: white;
  background-color: #eb2d2d;
  text-decoration: none;
  line-height: 40px;
  width: 150px;
}

.vitrine-destaque a {
  margin-left: 8px;
  margin-top: 10px;
}

/* SERVIÇOS */

.servicos-descricao {
  display: flex;
}

.half1 {
  width: 50%;
  padding: 90px 0;
  background: #242424;
  color: white;
  text-align: right;
}

.half1-wraper {
  padding-right: 100px;
  display: inline-block;
  text-align: left;
}

.half1-wraper h2 {
  font-weight: normal;
  font-style: italic;
  font-size: 32px;
}

.half1-wraper ul {
  display: inline-block;
  margin-top: 20px;
}

.half1-wraper li {
  margin-left: 15px;
}

.half1-wraper a {
  display: inline-block;
  vertical-align: bottom;
  margin-left: 20px;
}

.half2 {
  width: 50%;
  padding: 90px 100px;
  background: #eb2d2d;
  color: white;
}

.half2 h2 {
  font-weight: normal;
  font-style: italic;
  font-size: 32px;
}

.half2 .depoimento-single {
  margin-top: 19px;
}

.depoimento-single p {
  font-size: 22px;
}

.navigation {
  width: 100%;
  max-width: 700px;
  float: left;
  margin-top: 30px;
}

.arrows {
  float: left;
}

.navigation img {
  margin: 0 20px;
  cursor: pointer;
}

.nome-depoimento {
  float: right;
  color: #252525;
  font-size: 23px;
}

/* CONTATO */

section.contato {
  padding: 80px 2%;
}

section.contato form {
  max-width: 600px;
  margin: 50px auto;
}

section.contato .input-wraper {
  float: left;
  padding: 10px;
  margin-top: 7px;
}

section.contato input[type="text"] {
  width: 100%;
  border: 1px solid #ccc;
  height: 40px;
  line-height: 40px;
  padding-left: 15px;
}

section.contato textarea {
  width: 100%;
  border: 1px solid #ccc;
  height: 120px;
  padding: 8px;
  resize: none;
}

section.contato form .input-wraper:nth-last-of-type(5) {
  text-align: center;
}

section.contato input[type="submit"] {
  border-right: 0;
  border-left: 0;
  border-top: 0;
  cursor: pointer;
  display: inline-block;
}

.w100 {
  width: 100%;
}

.w50 {
  width: 50%;
}

/* FOOTER */

footer {
  margin-top: 20px;
  padding: 40px 2%;
  background: #252525;
}

footer nav {
  float: left;
}

footer nav ul {
  list-style-type: none;
}

footer nav ul li {
  float: left;
  font-size: 19px;
  font-style: italic;
  padding: 0 25px;
}

footer nav ul a {
  color: white;
  text-decoration: none;
}

footer p {
  float: right;
  color: white;
  font: 19px;
  font-style: italic;
}

/* VENDAS */

section.venda {
  padding: 90px 0;
  min-height: 90%;
}

.content-venda {
  margin-top: 40px;
}

.sidebar {
  float: left;
  width: 30%;
}

.search1 {
  width: 90%;
}

.search1 h2 {
  font-size: 24px;
  color: black;
  font-weight: normal;
}

.search1 .barra-preco {
  width: 100%;
  height: 20px;
  background: white;
  margin-top: 8px;
  border-radius: 20px;
  border: 1px solid #ccc;
  position: relative;
}

.barra-preco-fill {
  position: absolute;
  left: 0;
  top: 0;
  width: 30%;
  height: 20px;
  border-radius: 20px;
  background: linear-gradient(to bottom, rgb(0, 0, 0), #eb2d2d);
}

.pointer-barra {
  width: 26px;
  height: 26px;
  position: absolute;
  left: calc(30% - 13px);
  cursor: pointer;
  top: -3px;
  border-radius: 8px;
  border: 2px solid rgb(0, 0, 0);
  background: linear-gradient(to bottom, rgb(0, 0, 0), #eb2d2d);
}

.valor-pesquisa {
  margin-top: 8px;
}

.valor-pesquisa p {
  color: black;
  font-size: 15px;
}

.valor-pesquisa p:nth-of-type(1) {
  float: left;
}

.valor-pesquisa p:nth-of-type(2) {
  float: right;
}

.search2 {
  margin-top: 40px;
}

.search2 h2 {
  font-size: 24px;
  color: black;
  font-weight: normal;
}

.form-venda-wraper {
  margin-top: 10px;
}

.form-venda-wraper input[type="checkbox"] {
  display: none;
}

.form-venda-wraper label {
  width: 20px;
  height: 20px;
  border: 1px solid #ccc;
  border-radius: 3px;
  display: inline-block;
  vertical-align: top;
  cursor: pointer;
  position: relative;
}

.form-venda-wraper input[type="checkbox"]:checked + label .circle {
  display: block;
}

.circle {
  width: 8px;
  height: 8px;
  display: none;
  border-radius: 4px;
  background: black;
  position: absolute;
  left: 4px;
  top: 4px;
}

.form-venda-wraper span {
  padding: 0 10px;
  display: inline-block;
  vertical-align: top;
}

/* VITRINE VENDA */

.vitrine-venda {
  float: left;
  width: 70%;
}

.vitrine-venda .vitrine-destaque {
  margin-top: 20px;
}

/* VEICULO DETALHES */

section.venda-single {
  padding: 0 2%;
}

section.venda-single .container {
  padding: 40px 0;
  max-width: 1280px;
}

.info-veiculo {
  float: left;
  width: 60%;
}

.info-bread {
  padding: 20px 0;
  text-align: left;
}

.info-bread a {
  text-decoration: none;
  color: black;
}

.info-bread a:last-child {
  color: red;
}

.info-bread span {
  padding: 0 5px;
}

.foto-destaque {
  width: 100%;
  padding-top: 80%;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.nav-galeria-parent {
  width: 100%;
  padding: 36px;
  position: relative;
}

.arrow-left-nav {
  position: absolute;
  left: 8px;
  top: 50%;
  transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  cursor: pointer;
  background-image: url("../imagens/arrow-left.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 22px;
  height: 22px;
}

.arrow-right-nav {
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  cursor: pointer;
  background-image: url("../imagens/arrow-right.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 22px;
  height: 22px;
}

.nav-galeria {
  width: 100%;
  overflow: hidden;
}

.nav-galeria-wraper {
  width: 200%;
}

.mini-img-wraper {
  float: left;
  padding: 8px;
  width: calc(33.3% * (100 / 200));
}

.mini-img {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
  width: 100%;
  padding-top: 70%;
}

.descricao-veiculo {
  float: left;
  width: 40%;
  padding: 70px 20px;
}

.descricao-veiculo h2 {
  margin-top: 25px;
}

.descricao-veiculo p {
  max-width: 360px;
  margin-top: 25px;
}

.descricao-veiculo a {
  margin-top: 25px;
}

/* SOBRE */

secction.sobre {
  min-height: 90%;
  padding: 60px 2% 20px 2%;
}

section.sobre .container {
  margin: top 30px;
  max-width: 840px;
}

section.sobre .img-destaque-sobre {
  width: 100%;
  padding-top: 60%;
  background-color: #ccc;
}

.descricao-autor {
  margin-top: 20px;
}

.descricao-autor h2 {
  font-size: 24px;
}

.descricao-autor p {
  font-size: 16px;
  margin-top: 10px;
}

.descricao-autor3 {
  margin-top: 40px;
}

.img-small {
  width: 30%;
  padding-top: 30%;
  float: left;
  background-color: #ccc;
}

.descricao-autor3 p {
  float: left;
  width: 70%;
  padding: 15px;
}

/* PAREI EM 3:20 */

@media screen and (max-width: 850px) {
  /* SERVIÇOS */

  .half1-wraper a {
    display: block;
    margin-left: 0;
    margin-top: 15px;
  }
}

@media screen and (max-width: 768px) {
  /* BANNER */

  section.banner {
    background-size: cover;
    background-position: 100px center;
    height: 80vh;
  }

  nav.desktop {
    display: none;
  }

  nav.mobile {
    display: block;
  }

  /* SERVIÇOS */

  section.servicos-descricao {
    flex-direction: column;
  }

  .half1 {
    text-align: left;
    padding: 80px 100px;
  }

  .half1,
  .half2 {
    width: 100%;
  }

  /* CONTATO */

  .w50 {
    width: 100%;
  }

  /* FOOTER */

  footer {
    text-align: center;
  }

  footer nav {
    display: none;
  }

  footer p {
    float: none;
  }

  /* VENDA */

  .sidebar {
    width: 100%;
    text-align: center;
  }

  .search1 {
    display: inline-block;
  }

  .search2 {
    display: inline-block;
    text-align: left;
  }

  /* VITRINE VENDA */

  .vitrine-venda {
    text-align: center;
    width: 100%;
  }

  /* VEICULO DETALHES */

  .info-veiculo {
    width: 100%;
  }

  .descricao-veiculo {
    width: 100%;
    text-align: center;
    padding: 20px 0;
  }

  .descricao-veiculo a {
    display: inline-block;
  }

  .descricao-veiculo p {
    max-width: none;
  }
}

@media screen and (max-width: 580px) {
  /* BANNER */

  .text-banner {
    padding: 30px;
  }

  .text-banner-single {
    width: 240px;
    font-size: 18px;
  }

  .text-banner .text-banner-single:nth-of-type(4) {
    width: 270px;
  }

  /* VITRINE */

  section.veiculos-destaque .container {
    text-align: center;
  }

  section.veiculos-destaque .line-titulo h2 {
    font-size: 23px;
  }

  .vitrine-destaque {
    display: inline-block;
    float: none;
    width: 80%;
    margin-top: 20px;
  }

  .vitrine-destaque a {
    display: inline-block;
  }

  /* SOBRE */

  .img-small {
    width: 100%;
    padding-top: 100%;
  }

  .descricao-autor3 p {
    width: 100%;
    padding: 20px 0;
  }
}

@media screen and (max-width: 480px) {
  /* VITRINE */

  .vitrine-destaque {
    width: 100%;
  }
}
